node_modules
frontend/node_modules
backend/node_modules

backend/src/logs
backend/$

frontend/src/shared/api

frontend/storybook-static
frontend/.next
frontend/src/.next
service/node_modules
service/.next
service/src/.next
mobile/.next
mobile/src/.next
*/yarn-error.log
yarn-error.log

**/*/80
debug.log
